@media only screen and (max-width: 768px) {
	.navbar_desktop,
	.main_banner_desktop,
	.insights_desktop,
	.footer_desktop,
	.events__desktop{
		display: none;
	}
	.navbar_mobile,
	.main_banner_mobile,
	.footer_mobile,
	.insights_mobile,
	.events__mobile{
		display: block;
	}
	
	.commitments__container{
		width: 75%;
	}
	.commitments__container h3{
		font-size: 20pt;
	}
	.commitments__container span{
		display: inline-block;
		width: 100%;
	}
}


@media (min-width: 450px) and (max-width: 768px){
	.navbar_mobile{
		height: 15%;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	.navbar_desktop{
		display: none;
	}
	.navbar_mobile{
		display: block;
	}
	.navbar_mobile__header__logo img{
		width: 20%;
	}
	.main_banner_desktop{
		margin-top: 80px;
	}
	.navbar_mobile{
		height: 18%;
	}
	.navbar_mobile__toggle .icon::before,
	.navbar_mobile__toggle .icon::after{
		width: 50%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar_desktop__container,
	.main_banner_desktop__container,
	.insights_desktop__container,
	.events__desktop,
	.footer_desktop__container{
		width: 90%;
	}

	.main_banner_desktop{
		margin-top: 100px;
	}
}